html {
    font-family: sans-serif;
}
header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 24px;
    height: 64px;
    align-items: center;
}
.logo-head {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
.logo-head h1 {
    font-size: 32px;
  
}
.dark-gray-text {
    color: rgb(114, 125, 115);
}
light-gray-text {
    color:  rgb(208, 221, 208);
}
nav {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;;
    height: 64px;
}
nav p {
    margin-left: 16px;
}
.banner-container {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
    width: 100%;
    background-color: rgb(208, 221, 208);
}
.banner-image {
    max-width: 60%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin: 32px 24px;
}
.banner-image img {
    width: 100%;
    height: auto;
}
.banner-text {
    flex-basis: 40%;
    margin: 32px 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    color: rgb(114, 125, 115)
}
.start-here-button {
    background-color: rgb(114, 125, 115);
    color: rgb(208, 221, 208);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
.start-here-button p {
    padding: 8px;
    margin: 0;
}