html {
    font-family: sans-serif;
}
header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 24px;
    height: 64px;
    align-items: center;
}
.logo-head {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
.logo-head h1 {
    font-size: 32px;
  
}
.dark-gray-text {
    color: darkgray;
}
light-gray-text {
    color: lightgray;
}
nav {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;;
    height: 64px;
}
nav p {
    margin-left: 16px;
}